#app {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.grid {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  opacity: .75;
  background-color: #aaa;
  box-shadow: 2px 2px 0px #888888;
  transition: all 0.2s;
}

.gobbler {
  opacity: .75;
  box-shadow: 2px 2px 0px #888888;
  transition: all 0.2s;
  cursor: pointer;
}

.gobblercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: none;
}

.hidden {
  display: none;
}

.unplayedGobblers {
  display: flex;
  -webkit-flex-direction: row;
   flex-direction: row;
   justify-content: center;
    align-items: center;
}

.unplayedGobbler {
    margin: 10px;

}

.green {
  background-color: #392;
}

.red {
  background-color: #923;
}

.small {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.medium {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.big {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 50px;
  padding: 5px 15px;
  border: 1px solid #555;
}

.challengeButton {

  right: 5px;
}

.announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;

  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 2em;
  color: white;
}
.button {
    height: 50px;
    width: 100px;

    font-size: 0.5em;
    font-weight: bold;

    border: none;
    border-radius: 10px;
    background-color: white;
    color: purple;
  }

button {
  margin: 3px 5px;
  font-size: 1.1em;
  padding: 5px 8px;
  cursor: pointer;
}

.landing {
    margin: 50px;
    margin-top: 80px;
    font-size: 1.3em;
}